*{
    background-color: #EEE;
    padding: 0;
    margin: 0;
}

html{
    background-color: #EEE;
}

#container{
    width: 1280px;;
    background-color: #fff;
    margin:auto;
}

.box{
    width: 45%;
    background-color: #FFF;
    min-height: 300px;
    border: 1px #000 solid;
    float: left;
    padding: 15px;
}

h1{
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.ref{
    color: #888;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

.links{
    text-align: right;
}

.links a{
    font-size: 15px;

}

h2{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px #000 solid;
}

input{
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-indent: 15px;
    margin-top: 15px;
}

.btn{
    background-color: rgb(5, 57, 155);
    border-color: rgb(15,33,196);
    border-radius: 5px;
}